<div>
    <section>
        <h2><a href="api/posts/{{ id }}">{{ title }}</a></h2>
        <h3>Posted by {{ user.username }} on {{ format_date createdAt }}</h3>
    </section>
    <section>
        <p>{{ content }}</p>
    </section>
</div>